<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<!--Below comment is starting video capture setup. -->
		<!--Hi there!
		<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>
		<script src="static/camera-controller.js"></script> -->
		<input id="photo-upload" type="file"/>
		<button id="load-image">Load image to canvas</button>
		<button id="save-image">Save your edited image</button>
		<canvas id="canvas" width="640" height="480"></canvas>	
		<script src="static/photo-upload-controller.js"></script>

	</body>
</html>